<mat-drawer-container 
    [autosize]="true"
    class="min-h-full max-w-7xl mx-auto border-x">
    <mat-drawer-content class="p-6">
        <app-products-header (columnsCountChange)="onColumnsCountChange($event)" />
        
        <mat-grid-list
        gutterSize="16"
        [cols]="cols"
        [rowHeight]="rowHeight"
        >      
        @for (product of productsList; track product.id) {
            <mat-grid-tile>
                <app-product-box 
                (itemEmitted) = "addToCart($event)" 
                class="w-full" 
                [fullWidthMode]="cols === 1"
                [product]="product"
                />
            </mat-grid-tile>
        }
        </mat-grid-list>

    </mat-drawer-content>
</mat-drawer-container>